@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #d1d5db;
    --foreground: #0a0a0a;

    --primary: #6300b3;
    --primary-foreground: #fef2f2;

    --secondary: #f9e65d;
    --secondary-foreground: #fafafa;

    --tertiary: #5ee6eb;
    --tertiary-foreground: #fafafa;

    --card: #f5eff9;
    --card-foreground: #fafafa;

    --popover: #222222;
    --popover-foreground: #fafafa;

    --muted: #262626;
    --muted-foreground: #545454;

    --accent: #262626;
    --accent-foreground: #fafafa;

    --destructive: #7f1d1d;
    --destructive-foreground: #fafafa;

    --border: #262626;
    --input: #262626;
    --ring: #3c4cc4;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;

    font-family: "Roboto", sans-serif;
  }
  body {
    @apply bg-background text-foreground;
  }
}
